@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.css");
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 2; }
.div2 { grid-area: 1 / 2 / 6 / 4; }
.div3 { grid-area: 1 / 4 / 6 / 6; }

.div1{
    background-color: #404040;
    height: 70em;
    width: 100%;
}

.div2{
    background-color:#87AADD;
    height: 70em;
    width: 100%;
}

.div3{
    background-color:#C56761;
    height: 70em;
    width: 100%;
}

li{
    color: wheat;
}
body{
    max-width: 1900px;
}
.calendrier{
    width: 40em;
}
