@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.css");
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
*{
    text-align: center;
    color: black;
}
.div1 { grid-area: 1 / 1 / 6 / 2; }
.div2 { grid-area: 1 / 2 / 6 / 4; }
.div3 { grid-area: 1 / 4 / 6 / 6; }

body{
    background-image: url("../image/bleue.png")
}

.div1{

    width: 100%;
}

.div2{

    width: 100%;
}

.div3{

    width: 100%;
}

li{
    color: #a1998b;
}
body{
    max-width: 1900px;
}
.calendrier{
    width: 40em;
}
h1,h2{color: black}
th{
    color: #7c6f60;
}
thead th{
    color: #b29345;
}
@media only screen and (max-width : 667px) {
    h1{font-size: 0.5em;border-radius: 10px}
    .parent {
        display: flex;
        flex-direction: column;
    }

    .div1 {

        width: 100%;
        height: 35%;
    }

    .div2 {

        width: 100%;
        height: 35%;
    }

    .div3 {

        width: 100%;
        height: 30%;
    }

    li {
        color: #696359;
    }

    body {
        max-width: 1900px;
    }

    .calendrier {
        width: 20em;
    }

    th{
        font-size: 0.5em;
    }
    .divCentrer{
        display: none;
    }


}