

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


input {
    width: 10em;
}

button {
    background-image: url("../../src/image/bouton.png");
    background-size: cover;
    text-align: center;
    font-size: 0.9em;
    color: black;
    border: 3px solid darkcyan;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #310a55;
    width: 100%;
    text-align: center;
    border-radius: 10px;

}

input {
    width: 10em;
    color: #1c1455;

}

th {
    text-align: center;
}
