
.panier {

    width: 10em;
    position: relative;
    right: 12em;
}
.fermer :hover{
    background-color: black;
}
@media only screen and (max-width: 600px) {
    .panier {

        width: 5em;
        position: relative;
        right: 2em;
    }
}